<mat-toolbar color="primary">
  <button mat-icon-button>
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
  <span style="padding:0.5rem;">Details</span>
</mat-toolbar>

<mat-card style="margin: 0.5rem 2rem;">
  <div class="detail">
    <span class="detail-name mat-body-2">
      Name
    </span>
    <span class="detail-val">
      Ahmad Zahir Rabbani
    </span>
  </div>
  <div class="detail">
    <span class="detail-name mat-body-2">
      Email
    </span>
    <span class="detail-val">
      ahmadzahir88@gmail.com
    </span>
  </div>
</mat-card>

<button 
 mat-fab 
 color="primary" 
 style="margin: 2rem; z-index: 999; position: absolute; bottom: 0; right: 0;"
 matTooltip="Edit details"> 
    <mat-icon>edit</mat-icon> 
</button>