<mat-toolbar color="primary">
  <button mat-icon-button (click)="onBackClick()">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
  <span style="padding:0.5rem;">Details</span>
</mat-toolbar>

<user-detail-form [edit]="edit" [id]="id" (cancelEdit)="onCancel($event)"></user-detail-form>
<button 
 *ngIf="!edit"
 mat-fab 
 color="primary" 
 style="margin: 2rem; z-index: 999; position: absolute; bottom: 0; right: 0;"
 matTooltip="Edit details"
 (click)="onEdit()"> 
    <mat-icon>edit</mat-icon> 
</button>