<mat-toolbar color="primary" style="display: flex; justify-content:space-between;">
  <div class="left" style="display: flex; justify-content: center; align-items: center;">
    <button mat-icon-button (click)="onBackClick()">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <span style="padding:0.5rem;">Details</span>
  </div>
  <div class="right">
    <button 
    *ngIf="!edit"
    mat-flat-button
    color="primary"
    matTooltip="Edit details"
    (click)="onEdit()"> 
        <mat-icon>edit</mat-icon> 
    </button>
  </div>
</mat-toolbar>

<user-detail-form [edit]="edit" [id]="id" (cancelEdit)="onCancel($event)"></user-detail-form>