<mat-card style="margin: 0.5rem 2rem;">
  <form [formGroup]="userDetailForm">
  <!-- Full Name -->
  <div class="detail">
    <label for="fullName" class="detail-name mat-body-2">
      Name
    </label>
    <input *ngIf="edit;else fullNameValue" type="text" name="fullName" formControlName="fullName">
    <ng-template #fullNameValue>
      <span class="detail-val">
        {{ user.fullName }}
      </span>
    </ng-template>
  </div>

  <!-- Email -->
  <div class="detail">
    <label for="email" class="detail-name mat-body-2">
      Email
    </label>
    <input *ngIf="edit; else emailValue" type="text" name="email" formControlName="email">
    <ng-template #emailValue>
      <span class="detail-val">
        {{ user.email }}
      </span>
    </ng-template>
  </div>

  <!-- DoB -->
  <div class="detail">
    <label for="dob" class="detail-name mat-body-2">
      Date of Birth
    </label>
    <input *ngIf="edit; else dobValue" type="date" name="dob" formControlName="dob">
    <ng-template #dobValue>
      <span class="detail-val">
        {{ user.dob | date }}
      </span>
    </ng-template>
  </div>

  <!-- Address -->
  <div class="detail">
    <label for="address" class="detail-name mat-body-2">
      Address
    </label>
    <input *ngIf="edit; else addressValue" type="textarea" name="address" formControlName="address">
    <ng-template #addressValue>
      <span class="detail-val">
        {{ user.address }}
      </span>
    </ng-template>
  </div>

  <!-- Occupation -->
  <div class="detail">
    <label for="occupation" class="detail-name mat-body-2">
      Occupation
    </label>
    <input *ngIf="edit; else occupationValue" type="text" name="occupation" formControlName="occupation">
    <ng-template #occupationValue>
      <span class="detail-val">
        {{ user.occupation }}
      </span>
    </ng-template>
  </div>

  <!-- Address -->
  <div class="detail">
    <label for="gender" class="detail-name mat-body-2">
      Gender
    </label>
    <select *ngIf="edit; else genderValue" name="gender" formControlName="gender">
      <option value="MALE"> Male </option>
      <option value="FEMALE"> Female </option>
      <option value="NOT_STATED"> Prefer not to say </option>
    </select>
    <ng-template #genderValue>
      <span class="detail-val">
        {{ user.gender | gender }}
      </span>
    </ng-template>
  </div>

  <div *ngIf="edit" style="position: absolute; right:2rem; bottom:0.5rem; padding-top: 2.5rem;">
    <button mat-raised-button color="primary" style="margin-right: 0.25rem;" type="submit"><mat-icon>save</mat-icon> Save</button>
    <button mat-stroked-button color="warn" (click)="onCancel()">Cancel</button>
  </div>
  </form>
</mat-card>