<mat-card style="margin: 1rem 2rem;">
  <form [formGroup]="userDetailForm">
  <!-- Full Name -->
  <div class="detail-edit-{{edit}}">
    <label for="fullname" class="detail-name mat-body-2">
      Name
    </label>
    <mat-form-field *ngIf="edit;else fullnameValue" style="width:80%;">
      <input matInput name="fullname" formControlName="fullname">
    </mat-form-field>
    <ng-template #fullnameValue>
      <span *ngIf="user" class="detail-val">
        {{ user.fullname }}
      </span>
    </ng-template>
  </div>

  <!-- Email -->
  <div class="detail-edit-{{edit}}">
    <label for="email" class="detail-name mat-body-2">
      Email
    </label>
    <mat-form-field *ngIf="edit;else emailValue" style="width:80%;">
      <input matInput name="email" formControlName="email">
    </mat-form-field>
    <ng-template #emailValue>
      <span *ngIf="user" class="detail-val">
        {{ user.email }}
      </span>
    </ng-template>
  </div>

  <!-- DoB -->
  <div class="detail-edit-{{edit}}">
    <label for="dob" class="detail-name mat-body-2">
      Date of Birth
    </label>
    <mat-form-field *ngIf="edit; else dobValue">
      <input matInput [matDatepicker]="picker" formControlName="dob">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <ng-template #dobValue>
      <span *ngIf="user" class="detail-val">
        {{ user.dob | date }}
      </span>
    </ng-template>
  </div>

  <!-- Address -->
  <div class="detail-edit-{{edit}}">
    <label for="address" class="detail-name mat-body-2">
      Address
    </label>
    <mat-form-field *ngIf="edit; else addressValue" style="width:80%;">
      <textarea matInput name="address" formControlName="address"></textarea>
    </mat-form-field>
    <ng-template #addressValue>
      <span *ngIf="user" class="detail-val">
        {{ user.address }}
      </span>
    </ng-template>
  </div>

  <!-- Occupation -->
  <div class="detail-edit-{{edit}}">
    <label for="occupation" class="detail-name mat-body-2">
      Occupation
    </label>
    <mat-form-field *ngIf="edit; else occupationValue" style="width:80%;">
      <input matInput name="occupation" formControlName="occupation">
    </mat-form-field>
    <ng-template #occupationValue>
      <span *ngIf="user" class="detail-val">
        {{ user.occupation }}
      </span>
    </ng-template>
  </div>

  <!-- Gender -->
  <div class="detail-edit-{{edit}}">
    <label for="gender" class="detail-name mat-body-2">
      Gender
    </label>
    <mat-form-field *ngIf="edit; else genderValue">
      <mat-select name="gender" value="genderText" formControlName="gender">
        <mat-option value="0"> Male </mat-option>
        <mat-option value="1"> Female </mat-option>
        <mat-option value="2"> Prefer not to say </mat-option>
      </mat-select>
    </mat-form-field>
    <ng-template #genderValue>
      <span *ngIf="user" class="detail-val">
        {{ user.gender | gender }}
      </span>
    </ng-template>
  </div>

  <div *ngIf="edit" style="position: absolute; right:2rem; bottom:0.5rem; padding-top: 2.5rem;">
    <button mat-raised-button color="primary" (click)="onSubmit()" style="margin-right: 0.25rem;" type="submit"><mat-icon>save</mat-icon> Save</button>
    <button mat-stroked-button color="warn" (click)="onCancel()">Cancel</button>
  </div>
  </form>
</mat-card>